extend layout

block content
  link(rel='stylesheet', href='/css/markdown.css')
  script(src="/js/Markdown.Converter.js")
  script(src="/js/Markdown.Editor.js")
  script(src="/js/Markdown.Sanitizer.js")

  form(name="postForm", action="/admin/setting", method="POST", enctype="multipart/form-data")
    div
      lable.formLabel #{langs.setting_lang} <span class="formTips">#{langs.setting_lang_tip}</span>
      input.tinyInput(name="siteinfo[lang]", class="formControl", value=setting.siteinfo.lang, required="required")
      
    div
      label.formLabel #{langs.setting_sitename} <span class="formTips">#{langs.setting_sitename_tip}</span>
      input.mormalInput(name="siteinfo[name]", class="formControl", value=setting.siteinfo.name, required="required")

    div
      label.formLabel #{langs.setting_sitedesc} <span class="formTips">#{langs.setting_sitedesc_tip}</span>
      textarea.smallTextarea(name="siteinfo[desc]", class="formControl")=setting.siteinfo.desc

    div
      label.formLabel #{langs.setting_keywords} <span class="formTips">#{langs.setting_keywords_tip}</span>
      input.mormalInput(name="siteinfo[keywords]", class="formControl", value=setting.siteinfo.keywords)

    div
      label.formLabel #{langs.setting_commentservice} 
        span.formTips!= langs.setting_commentservice_tip
      select.normalSelect(name="siteinfo[comment_service]")
        each value,key in setting.comments
          option(value="#{key}", selected=(setting.siteinfo.comment_service==key)) #{value}

    div
      label.formLabel #{langs.setting_commentserviceid} <span class="formTips">#{langs.setting_commentserviceid_tip}</span>
      input.tinyInput(name="siteinfo[comment_id]", class="formControl", value=setting.siteinfo.comment_id)

    div
      label.formLabel #{langs.setting_sitelogo} <span class="formTips">#{langs.setting_sitelogo_tip}</span>
      input.mormalInput(type="file", name="logofile", class="formControl", value=setting.siteinfo.logo)

    div
      label.formLabel #{langs.setting_footer} <span class="formTips">#{langs.setting_footer_tip}</span>
      textarea.smallTextarea(name="siteinfo[footer]", class="formControl", required="required")=setting.siteinfo.footer

    div.wmd-panel
      label.formLabel #{langs.setting_aboutme}  <span class="formTips">#{langs.setting_aboutme_tip}</span>
      #wmd-button-bar
      textarea.wmd-input(id="wmd-input" name="aboutme", class="formControl postContentField")=aboutme
    div.wmd-preview
      
    div
      label.formLabel #{langs.setting_links} <span class="formTips">#{langs.setting_links_tip}</span>
      textarea.largeTextarea(name="links", class="formControl")=linksText

    div
      label.formLabel #{langs.setting_meweb} <span class="formTips">#{langs.setting_meweb_tip}</span>
      textarea.largeTextarea(name="webinfo", class="formControl")=webinfoText

    div
      input.submit(type="submit", value="#{langs.setting_submit}")

    script.
      (function () {
      var converter = new Markdown.Converter();
      var editor = new Markdown.Editor(converter);
      editor.run();
      })();
      
    div.divider
