doctype 5
html(lang="#{siteinfo.lang}")
  head
    meta(charset='utf-8')
    meta(name='description' content='#{siteinfo.desc}')
    meta(name='keywords' content='#{siteinfo.keywords}')
    meta(http-equiv="X-UA-Compatible",content="IE=edge, chrome=1")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title= siteinfo.name
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/monokai_sublime.min.css')
    script(src='/js/highlight.min.js')
    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/main.js?v=201311151034')
    
  body
    .message(class=message?'show':'hide')=message

    //if lt IE 8
      div.browsehappy 您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a>

    .container
      header
        .sitename
          h1!= siteinfo.name
          h3!= siteinfo.desc
        .sitelogo
          img(src='#{siteinfo.logo}')
        .clear
      nav
        ul
          li(class=(currentNav=='index')?'on':'') <a href='/index'>#{langs.nav_blog}</a>
          li(class=(currentNav=='about')?'on':'') <a href='/about'>#{langs.nav_aboutme}</a>
          li.narrowhide <a href='https://github.com/samoay/NejBlog' target='_blank'>#{langs.nav_fork}</a>
          if loginStatus
            li.adminGate(class=(currentNav=='admin')?'on':'') <a href='#'>#{langs.nav_admin}</a>
              div.adminMenu
                ul
                  li <a href='/admin/setting'>#{langs.nav_admin_setting}</a>
                  li <a href='/post/add'>#{langs.nav_admin_addpost}</a>
                  li <a href='/post/admin'>#{langs.nav_admin_myposts}</a>
                  li <a href='/user/passwd'>#{langs.nav_admin_password}</a>
                  li <a href='/user/logout'>#{langs.nav_admin_logout}</a>
          else
            li(class=(currentNav=='login')?'on':'') <a href='/user/login'>#{langs.nav_admin_login}</a>
      section.content
        block content
      section.relevant
        !=relevant
      footer!= siteinfo.footer
