doctype 5
html(lang="zh_CN")
  head
    meta(charset='utf-8')
    meta(name='description' content='#{siteinfo.desc}')
    meta(name='keywords' content='#{siteinfo.keywords}')
    meta(http-equiv="X-UA-Compatible",content="IE=edge, chrome=1")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title= siteinfo.name
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='http://yandex.st/highlightjs/7.4/styles/monokai_sublime.min.css')
    script(src='http://yandex.st/highlightjs/7.4/highlight.min.js')
    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/main.js?v=201311151034')
  body
    .message(class=message?'show':'hide')=message

    .container
      header
        .sitename
          h1!= siteinfo.name
          h3!= siteinfo.desc
        .sitelogo
          img(src='#{siteinfo.logo}')
        .clear
      nav
        ul
          li(class=(currentNav=='index')?'on':'') <a href='/index'>Blog</a>
          li(class=(currentNav=='about')?'on':'') <a href='/about'>About me</a>
          li.narrowhide <a href='https://github.com/samoay/NejBlog' target='_blank'>Fork this blog</a>
          if loginStatus
            li.adminGate(class=(currentNav=='admin')?'on':'') <a href='#'>Admin</a>
              div.adminMenu
                ul
                  li <a href='/admin/setting'>Setting</a>
                  li <a href='/post/add'>Add Post</a>
                  li <a href='/post/admin'>My Posts</a>
                  li <a href='/user/passwd'>Password</a>
                  li <a href='/user/logout'>Logout</a>
          else
            li(class=(currentNav=='login')?'on':'') <a href='/user/login'>Admin login</a>
      section.content
        block content
      section.relevant
        !=relevant
      footer!= siteinfo.footer
