extend layout

block content
  script.
    hljs.initHighlightingOnLoad();
  h2=post.title
  div.postTags #{langs.post_tags}: 
    - for(var i in post.tags)
      a.postTag(href='/tag/view/#{post.tags[i]}', title='#{post.tags[i]}') #{post.tags[i]}
      &nbsp;&nbsp;
 
  hr.line
  div.mkn!=mdContent
  
  if siteinfo.comment_service == "duoshuo"
    .ds-thread
    script.
      var duoshuoQuery = {short_name:"#{siteinfo.comment_id}"};
      (function(){
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
  else if siteinfo.comment_service == "disqus"
    #disqus_thread
    script.
      var disqus_shortname = '#{siteinfo.comment_id}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    a(href="http://disqus.com", class="dsq-brlink") comments powered by <span class="logo-disqus">Disqus</span></a>
  else if siteinfo.comment_service == "livefyre"
    #livefyre-comments
    script(src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js")
    script.
      (function () {
      var articleId = fyre.conv.load.makeArticleId(#{post._id});
      fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "#{siteinfo.comment_id}",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
        }], function() {});
      }());