extend layout

block content
  script.
    hljs.initHighlightingOnLoad();
  h2=post.title
  div.postTags Tags: 
    - for(var i in post.tags)
      a.postTag(href='/tag/view/#{post.tags[i]}', title='#{post.tags[i]}') #{post.tags[i]}
      &nbsp;&nbsp;
 
  hr.line
  div.mkn!=mdContent
  
  .ds-thread
  script.
    var duoshuoQuery = {short_name:"#{siteinfo.duoshuo}"};
    (function(){
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = 'http://static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
