extend layout

block content
  if postList
    h2 Post Admin
    table.postList
      thead
        tr
          th ID
          th Title
          th Create Date
          th Actions
      tbody
        each post in postList
          tr
            td #{post._id}
            td #{post.title}
            td.txtcenter #{post.created}
            td.txtcenter
              a(href="/post/update/#{post._id}") Update
              &nbsp;|&nbsp;
              a(href="/post/delete/#{post._id}", onclick="return confirm('Are u sure u want to delete this post? It is not cancelable!');") Delete
        
  else
    p There is no post here! Let's going to write your first article: <a href="/post/add">Add Post</a>
