.tags
  h1 Tags
  - for(var k in tagList)
    a(href='/tag/view/#{k}') #{k}<span>#{tagList[k]}</span>
.aboutme
  h1 Me & Web
  ul
    - for(var l in webinfo)
      li
        a(href='#{webinfo[l]}', target='_blank') #{l}
.links
  h1 Links
  ul
    - for(var l in links)
      li
        a(href='#{links[l]}', target='_blank') #{l}
