doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
  channel
    title= siteinfo.name
    link #{baseUrl}
    atom:link(href="#{baseUrl}/rss", rel="self", type="application/rss+xml")
    description= siteinfo.desc
    language= siteinfo.lang
    if posts.length
      lastBuildDate= new Date(posts[0].created).toUTCString()
    each post in posts
      item
        title= post.title
        link #{baseUrl}/post/view/#{post._id}
        description
          | <![CDATA[
          | !{post.summary}
          p: a(href="#{baseUrl}/post/view/#{post._id}") !{langs.readmore}
          | ]]>
        pubDate= new Date(post.created).toUTCString()
        guid(isPermaLink="false", href="#{baseUrl}/post/view/#{post._id}")
