extend layout

block content
    h1=tag
    - for(var i in postList)
      article
        span(class='datetime') #{postList[i].date}
        a.title(href='/post/view/#{postList[i]._id}', title='#{postList[i].title}') #{postList[i].title}
