extend layout

block content
    h1=tag
    each post,key in postList
      - if (key>0 && key%5 == 0)
        .blankline
      article
        span.dateyear #{post.year}
        span.datetime #{post.date}
        a.title(href='/post/view/#{post._id}', title='#{post.title}') #{post.title}
        each tag in post.tags
          h2.k #{tag}