extend layout

block content
    h1=tag
    - for(var i in postList)
      article
        span(class='datetime') #{postList[i].date}
        a.title(href='/post/view/#{postList[i]._id}') #{postList[i].title}
        &nbsp;&nbsp;<a href="/post/update/#{postList[i]._id}"><i class="fa fa-edit"></i></a>
        &nbsp;&nbsp;<a href="/post/delete/#{postList[i]._id}"><i class="fa fa-times-circle"></i></a>
